<link rel="stylesheet" href="/stylesheets/footer.css" />
<footer class="footer">
  <h1 class="contacto">SEGUINOS</h1>
  <!-- Iconos de redes sociales -->
  <ul class="redes">
    <li>
      <a href="https://www.instagram.com/"
        ><i class="fab fa-instagram-square"></i
      ></a>
    </li>
    <li>
      <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
    </li>
    <li>
      <a href="https://facebook.com/"><i class="fab fa-facebook-square"></i></a>
    </li>
    <li>
      <a href="https://github.com/"><i class="fab fa-github"></i></a>
    </li>
  </ul>
</footer>
